<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ display_task.name }}</h1>
        <p>
          <a href={% url "todo_list_update" display_task.id %}>Edit</a>
        </p>
        <p>
          <a href={% url "todo_list_delete" display_task.id %}>Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due date</th>
            </tr>
          </thead>
          <tbody>
            {% for task in display_task.items.all %}
              <tr>
                <td>
                  <a href={% url "todo_item_update" display_task.id %}>{{ task.task }}</a>
                </td>
                <td>{{ task.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </body>
  </html>
